<div class="col-xs-4">Filter by:
    <select name="" id="">
        <option value="all">All Accounts</option>
    </select>
</div>
<div class="col-xs-8 aside">
    <button class="btn btn-flat">New Repository</button>
</div>
<div class="col-xs-12 pushed">
    <div class="repo-row" ng-repeat="n in [1,2,3,4,5,6,7,8,9]">
        <a href="#">account-name / <span class="repo-name">repository-name</span></a> <span class="private-flag">private</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum neque ornare nulla consequat, sit amet sodales purus cursus. Donec sed suscipit augue.</p>
    </div>
</div>