<div class="col-xs-4">Filter by:
    <select name="" id="">
        <option value="all">All Accounts</option>
    </select>
</div>
<div class="col-xs-8 aside">
    <button class="btn btn-flat">New Repository</button>
</div>
<div class="col-xs-12 pushed">
    <div class="repo-row" ng-repeat="repo in repos">
        <a href="#">{{repo.account}} / <span class="repo-name">{{repo.name}}</span></a> <span
            ng-show="repo.private"><span class="private-flag">private</span></span>

        <p>{{repo.description}}</p>
    </div>
</div>
<div class="col-xs-12">
    <div id="pagination-row">
        <ul class="pagination">
            <li ng-repeat="n in pages track by $index" ng-class="{active: $index == page}"><a href="#/list/{{$index + 1}}">{{$index + 1}}</a></li>
        </ul>
    </div>
</div>