html,body {
    height: 100%;
}
body {
    border-top: 1px solid #3cf;
}
nav {
    width: 3.25em;
    float: left;
}
#utilinav {
    list-style-type: none;
    padding: 0;
    margin: 0
}
#utilinav a {
    display: block;
    padding: 1em;
    border-left: 3px solid #fff;
    color: #d2d8dc;
}
#utilinav a:hover {
    border-left-color: #d2d8dc;
}
#utilinav .active a {
    border-left-color: #30b9e9;
    color: #30b9e9;
}
#viewport {
    margin: 0 0 0 3.25em;
    border-left: 1px solid #e1e5e8;
    height: 100%;
    color: #8f9ea7;
}
.aside {
    text-align: right;
}
.pushed {
    margin-top: 1em;
}
#viewport select {
    border: 1px solid #8f9ea7;
    background-color: #fff;
}
.btn-flat {
    border-radius: 2px;
    background-color: #30b9e9;
    color: #fff;
}
.repo-row {
    border-top: 1px solid #e0e4e7;
    padding: 0.5em 0;
}
.repo-row a {
    color: #455d6d;
}
.repo-row p {
    margin-bottom: 0;
}
.repo-name {
    font-weight: 900;
}
.private-flag {
    display: inline-block;
    font-size: 80%;
    color: #fc6;
    padding: 0 0.5em 0.15em 0.5em;
    border: 1px solid #fc6;
}
#pagination-row {
    border-top: 1px solid #e0e4e7;
    text-align: center;
}
.pagination>li>a {
    margin: 0 5px;
    border-radius: 3px;
    border: 0 none;
    background-color: #dde0e2;
    color: #91a0a9;
}
.pagination>li.active>a,
.pagination>li.active>a:hover {
    background-color: #30b9e9;
}